*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLogo{
    max-height: 100px;
    max-width: 250px;
    padding-left: 1rem;
}
.heroContainer{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient( 115deg, rgba(55, 105, 241, 0.8), rgba(14, 105, 165, 0.7) ), url("imagenes/fabrica.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.heroText{
    font-size: 3rem;
}
.empresaContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
    padding: 10rem 10% 5rem 10%;
}
.tarjetaContainer{
    padding: 3rem;
    margin: 0.5rem;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: -25px 25px 64px #f0f0f0,
                25px -25px 64px #f0f0f0;
}
.imgEmpresaContainer{
    display: flex;
    justify-content: space-between;
    padding: 5rem 20% 10rem 20%;
}
footer{
    height: 350px;
}
.footerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 9rem 10% 0 10%;
}
.tycContainer{
    display: flex;
    justify-content: center;
}
.fontColor{
    color: rgb(0, 0, 0);
}
h4{
    font-weight: bolder;
}
h6{
    font-weight: lighter;
    font-size: 1rem;
}